<div class="dropdown" dropdown>
  <span dropdown-toggle class="action" ng-if="filters.dc.length === 0">
    All Datacenters <i class="fa fa-caret-down"></i>
  </span>
  <span dropdown-toggle class="action" ng-if="filters.dc.length > 0">
    Some Datacenters <i class="fa fa-caret-down"></i>
  </span>
  <ul class="dropdown-menu">
    <li ng-class="{selected: filters.dc.length === 0}">
      <a href="" ng-click="filters.dc = []">
        <i class="fa fa-cloud"></i>
        All Datacenters
      </a>
    </li>
    <li ng-repeat="datacenter in datacenters | orderBy:'name'" ng-class="{selected: filters.dc.indexOf(datacenter.name) > -1}">
      <a href="" ng-click="i = filters.dc.indexOf(datacenter.name); i > -1 ? filters.dc.splice(i, 1) : filters.dc.push(datacenter.name)">
        <i class="fa fa-cloud"></i>
        {{datacenter.name}}
      </a>
    </li>
  </ul>
</div>
